<!-- templates/app/blog/author.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %} {{profile.user}} {% endblock title %}

{% block content %}

    <main>
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">

          	<!-- link go back and author -->
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="#" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Author</h1>
                </div>
              </div>
            </div>

            <!-- user and bio -->
            <center>
              <div class="typo">
                <h1 class="title">{{profile.user|capfirst}}</h1>
                <p>
                  {{profile.bio|truncatechars:50}}
                </p>
              </div>
            </center>

            <!-- Top posts -->
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Top posts</h1>
                <div class="grid-2 blog">

                 {% if top_posts %}
                 {% for top_post in top_posts %}
                  <!-- card -->
                  <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{top_post.image.url}}" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          {{top_post.title}}
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{top_post.author.profile.profile_image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{top_post.author.username|capfirst}}</p>
                            <small>{{top_post.last_updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% endfor %}
                  {% else %}
                  <p>No top posts found ...</p>
                  {% endif %}

                </div>
              </div>
            </section>

            <!-- Trendy / recent posts -->
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Treandy</h1>
                <div class="grid-3 blog-grid">

                  {% if recent_posts %}
                  {% for recent_post in recent_posts %}
                  <!-- card -->
                  <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{recent_post.image.url}}" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          {{recet_post.title|capfirst}}
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{recent_post.author.profile.profile_image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{recent_post.author.last_name|capfirst}}</p>
                            <small>{{recent_post.last_updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% endfor %}
                  {% else %}
                  <p>No recent post found ...</p>
                  {% endif %}
                </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>

            <!-- Featural -->
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Featural</h1>
                <div class="grid-3 blog-grid">

                  {% if feature_posts %}
                  {% for feature_post in feature_posts %}	
                  <!-- card -->
                  <a href="#">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{feature_post.image.url}}" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>
                          {{feature_post.title|capfirst}}
                        </h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{feature_post.author.profile.profile_image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{feature_post.author.first_name}}</p>
                            <small>{{feature_post.last_updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% endfor %}
                  {% else %}
                  <p>No feature post found ...</p>
                  {% endif %}


                </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>

          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">

            
          	<!-- top authors -->
            <div class="block">
              <h2 class="title2">Top Authors</h2>
              {% for top_author in top_authors %}
              <div class="recent-post other-author">
                <div class="rounded-img">
                  <img src="{{top_author.profile.profile_image.url}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>
                    {{top_author.first_name|capfirst}}
                  </h3>
                  <a class="learn" href="#"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- top authors -->
            

            <!-- tags -->
            <div class="block">
              <h2 class="title2">Top Tags</h2>
              <div class="blog-tags">
                {% for tag in tags %}
                <div class="tag">{{tag.name|capfirst}}</div>
                {% endfor %}
              </div>
            </div>
            <!-- tags -->

          </div>
          <!-- right layout end -->
        </div>
      </div>
    </main>

{% endblock content %}