<!-- templates/app/blog/index.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

    <!--======================= subscribe =======================-->

    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <div class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
            </div>
          </div>
          <div class="typo">
            <h1 class="title">Website blog title</h1>
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
          </div>
          <div class="newsletter">
            <form method="POST">
              <!-- <input
                type="email"
                name="email"
                maxlength="100"
                placeholder="Enter your email"
                required=""
                id="id_email"
              /> -->
              {% csrf_token %}
              {{subscribe_form}}
              <button class="btn btn-primary">Subscribe</button>
            </form>
            {% if subscribe_successful %}
            <br><p>Subscribed Successfully</p>
            {% else %}
            <br><p>Please try again ..</p>
            {% endif %}
          </div>
        </center>
      </div>
    </main>

    <!--======================= subscribe =======================-->
    <!--===================== featured post ======================-->

    {% if featured_blog %}
    <section class="sp">
      <div class="container">
        <a href="{% url 'blog:detail' featured_blog.slug %}">
        <div class="grid-2">
          <div class="post-img">
            <img src="{{featured_blog.image.url}}" alt="" />
          </div>
          <div class="post-content">
            <div class="cetagory">
              <p>Category name</p>
            </div>
            <h1>
              {{featured_blog.title}}
            </h1>
            <p class="des">
              {{featured_blog.content|truncatechars:200}}
            </p>
            <a class="learn" href="{% url 'blog:detail' featured_blog.slug %}"
              >Learn more <span class="material-icons"> trending_flat </span></a
            >
          </div>
        </div>
        </a>
      </div>
    </section>
    {% endif %}

    <!--===================== featured post ======================-->
    <!--======================= top blogs =======================-->

    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">

          {% if recent_posts %}
          {% for recent_post in recent_posts %}	
          <!-- card -->
            <div class="card">
              <div class="post-img">
                <a href="{% url 'blog:detail' recent_post.slug %}">
                <img src="{{ recent_post.image.url }}" alt="" />
              </a>
                {% if recent_post.tags %}
                {% for tag in recent_post.tags.all %}
                  <!-- post.tags.all()[0].name -->
                  <a class="tag" href="{% url 'blog:tag_page' tag.slug %}"> {{recent_post.tags.all.0.name|capfirst}}
                  </a>
                {% endfor %}
                {% endif %}
              </div>
              <div class="card-content">
                <h3>
                  <a href="{% url 'blog:detail' recent_post.slug %}">
                  {{ recent_post.title }}
                  </a>
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'assets/images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ recent_post.autor }}</p>
                    <small>{{ recent_post.date }}</small>
                  </div>
                </div>
              </div>
            </div>
          
          <!-- card end-->
          {% endfor %}
          {% endif %}

        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>

    <!--======================= top blogs =======================-->
    <!--======================= new blogs =======================-->

    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New Blogs</h1>
        <div class="grid-3">

          {% if top_posts %}
          {% for top_post in top_posts %} 
          <!-- card -->
            <div class="card">
              <div class="post-img">
                <a href="{% url 'blog:detail' top_post.slug %}">
                <img src="{{ top_post.image.url }}" alt="" />
              </a>
                {% if top_post.tags %}
                {% for tag in top_post.tags.all %}
                  <!-- post.tags.all()[0].name -->
                  <a class="tag" href="{% url 'blog:tag_page' tag.slug %}"> {{top_post.tags.all.0.name|capfirst}}
                  </a>
                {% endfor %}
                {% endif %}
              </div>
              <div class="card-content">
                <h3>
                  <a href="{% url 'blog:detail' top_post.slug %}">
                  {{ top_post.title }}
                  </a>
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'assets/images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{ top_post.autor }}</p>
                    <small>{{ top_post.date }}</small>
                  </div>
                </div>
              </div>
            </div>
          
          <!-- card end-->
          {% endfor %}
          {% endif %}

        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>

    <!--======================= new blogs =======================-->





{% endblock content %}