<!-- templates/app/blog/index.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <div class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
            </div>
          </div>
          <div class="typo">
            <h1 class="title">Website blog title</h1>
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
          </div>
          <div class="newsletter">
            <form method="POST">
              <input
                type="email"
                name="email"
                maxlength="100"
                placeholder="Enter your email"
                required=""
                id="id_email"
              />
              <button class="btn btn-primary">Subscribe</button>
            </form>
          </div>
        </center>
      </div>
    </main>

{% endblock content %}